<h2>Add new track</h2>
<form method="POST" action="">
    <div>
        <label for="trackName">Track Name:</label>
        <input type="text" id="trackName" name="trackName" value="">
    </div>
    <div>
        <label for="artist">Artist Name:</label>
        <input type="text" id="artist" name="artist" value="">
    </div>
    <div>
        <label for="releaseDate">Release Date:</label>
        <input type="text" id="releaseDate" name="releaseDate" value="">
    </div>
    <input type="submit" value="Add">
</form>