<h2>Add new Article</h2>
<form method="POST" action="">
    <div>
        <label for="title">Program Name:</label>
        <input type="text" id="programName" name="programName" value="">
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="">
    </div>
    <div>
        <label for="host">Host:</label>
        <input type="text" id="host" name="host" value="">
    </div>
    <div>
        <label for="timeSlot">Time Slot:</label>
        <input type="text" id="timeSlot" name="timeSlot" value="">
    </div>
    <input type="submit" value="Add">
</form>